html{
	font-family: 'Raleway', sans-serif;
}

/*Website Header*/
h1{
	text-align: center;
	font-family: 'Homemade Apple', cursive;
	font-size: 4rem;
	padding: 20px 0px 0px 0px;
}

@media (min-width: 576px) and (max-width: 768px){
	h1{
		font-size: 1.8rem !important;
	}
	.navbar{
		padding-top: 0px;
		padding-bottom: 1px;
	}
	.navbar-toggler{
		margin-top: 1px;
	}
}



h2{
	text-align: center;
	font-family: 'Homemade Apple', cursive;
	font-size: 2.25rem;
}

.title-link, .title-link:hover{
	text-decoration: none;
	color: black;
}

.header-sm-lg{
	font-size: 2.8rem;
	margin-left: 56px;
}

.header-xs{
	font-size: 1.4rem;
}

/*Navbar*/

.navbar{
	font-family: 'Calligraffitti', cursive;
	font-size: 1.5rem;
	text-align: center;
	background: white;
}

@media (min-width: 768px) and (max-width: 992px){
	.navbar{
		padding: 0px 10px 10px 10px;
	}

}

@media (max-width: 576px){
	.navbar{
		padding-top: 0;
		padding-bottom: 0; 
	}
	h1{
		padding-top: 10px;
	}
}

@media (max-width: 277px){
	.header-xs{
		display: none;
	}
	.navbar-toggler{
		border: none;
	}
}

@media (max-height: 470px){
	.navbar-nav{
		flex-flow: wrap;
		justify-content: center;
	}
	.navbar-nav .dropdown-menu{
		position: absolute;
	}
}

.dropdown-menu{
	font-size: 1.5rem;
}

/*.dropdown-item{
	text-align: center;
}*/

button:focus, a:focus, .navbarDropdown:focus{
	outline: 5px auto #8f8f8f !important;
}

a:hover{
	transition: 0.3s;
}

a{
	transition: 0.3s;
}

li{
	margin-left: 10px;
	margin-right: 10px;
}

.dropdown-item.active{
	color: black;
	opacity: 1;
}


.dropdown-item.active-degavino{
	background-color: #ffd06b;
}

.dropdown-item.active-meraki{
	background-color: #ffb3f1;
}

.dropdown-item.active-indigo{
	background-color: #7889cf;
	/*color: white;*/
}

.dropdown-item.active-taika{
	background-color: #69ff63;
}

.h-degavino:hover{
	background-color: #ffd06b;
}

.h-meraki:hover{
	background-color: #ffb3f1;
}

.h-indigo:hover{
	background-color: #7889cf;
	/*color: white;*/
}

.h-taika:hover{
	background-color: #69ff63;
}

/*Content*/

.big-img{
	width: 100vw;
	padding: none;
	margin: none;
	background-repeat: no-repeat;
}

.big-img-meraki{
	height: calc(100vw * 835 / 1024);
	background-image: url(img/meraki.jpg);
	background-size: 100vw 81.5429688vw;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: flex-end;
	max-height: 80.5984556vw !important;
	min-height: 56.3131313vw;
}

.meraki-definition{
	width: 32%;
	font-family: 'ZCOOL XiaoWei', serif;
	font-size: 4vh;
	color: white;
	text-shadow: 1px 1px 1px black;
	letter-spacing: 0.2vw;
	text-align: right;
	margin: 5% 1% 2% 0%;
	align-self: flex-end;
}


.meera-maharaj-jpg{
	background-image: url(img/meera-maharaj.jpg);

}

.img-about{
	background-image: url(img/meera-landscape.jpg);
}

.img-maharaj-degavino{
	background-image: url(img/maharaj_degavino_duo.jpg);
}


.teaser-img{
	width:100%;
	height: 70vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: -webkit-sticky;
	position: sticky;
	/*top: 107px;*/
	align-self: flex-start;
}

.teaser-img-sm-md{
	top: 107px;
}

.teaser-img-lg{
	top: 68px;
}


.biography-container-sm{
	width: 100%;
	display: flex;
}

.img-container-sm{
	display: flex;
	width: 50%;
	align-items: flex-start
	justify-content: space-around;
}

.about{
	padding: 20px;
	padding-bottom: 0px;
	width: 50%;

}

.container-cards{
	display: flex;
	justify-content: space-around;
}

.card{
	margin: 20px;
}

.grow{
	transition: all 0.2s ease-in-out !important;
}

.grow:hover{
	transform: scale(1.1) !important;

}

.container-2{
	margin-top: 50px;
	margin-bottom: 50px;
}

.container-2-lg{
	width: 90%;
	height: 70vh;
	margin-left: auto;
	margin-right: auto;
}

.bs-linebreak-1{
	height: 2px;
	background-color: lightgrey;
	border-radius: 1px;
}

.bs-linebreak-2{
	height: 50px;
}

.meraki-h1{
	font-family: 'ZCOOL XiaoWei', serif;
	font-size: 10vw;
	margin: 4% 0 0 5%;
	color: white;
	letter-spacing: 3vw;
}

.meraki-h2{
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
	font-family: 'ZCOOL XiaoWei', serif;
	font-size: 5vw !important;
	color: white;
	letter-spacing: -0.2vw;
}

.mini-title{
	line-height: 200%;
	font-size: 1.2em;
	flex-wrap: nowrap;
}

.meraki-title{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.meraki-artists{
	margin: 5% 3% 0 0;
	

}

.definition-container{
	display: inline-flex;
}

.meraki-definition-title{
	flex-wrap: nowrap;
	font-size: 6vw;
	min-width: 182.83px;
}

.meraki-definition-text{
	font-size: 5vw;
}

.meraki-definition-title, .meraki-definition-text{
	margin-right: 1%;
}

strong{
	font-size: 1.1em;
}